<!DOCTYPE html>
<html>
<body>
  
  <section>
    <div class="navContainer">
      <nav>
        <ul>
        <li><a class="item">Home</a></li>
        <li><a class="item" (click) = "navigateToSection('savedQueries')">MyQueries</a></li>
        <li><a (click)="goBrowse()" class="item">Browse</a></li>
        </ul>
      </nav>
    </div>

    <div class="heroSection">
      <!-- ETH LOGO -->
      <div class="firstHalf">
        <div class="logo-container"><svg width="100%" height="100%" viewBox="0 0 56 76" version="1.1" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
          <g transform="matrix(1,0,0,1,-1108.51,-154)">
              <g id="ethLogo" transform="matrix(1,0,0,1,-5.68434e-13,-190)">
                <g id="bottom">
                  <g transform="matrix(1,0,0,1,332.554,-60)">
                      <!-- Tono gris claro para el gradiente radial -->
                      <path d="M775.959,448L803.672,464L831.384,448L803.672,432L775.959,448Z" style="fill:rgb(53, 49, 49);"/>
                  </g>
                  <g transform="matrix(1,0,0,1,332.554,-68)">
                      <!-- Tono gris medio -->
                      <path d="M775.959,456L803.672,472L803.672,488L775.959,456Z" style="fill:rgb(150,150,150);"/>
                  </g>
                  <g transform="matrix(1,0,0,1,332.554,-68)">
                      <!-- Tono gris oscuro -->
                      <path d="M831.384,456L803.672,488L803.672,472L831.384,456Z" style="fill:rgb(101,101,101);"/>
                  </g>
              </g>
              <g id="top">
                  <g transform="matrix(1,0,0,1,332.554,-64)">
                      <!-- Tono gris más oscuro -->
                      <path d="M775.959,448L803.672,464L831.384,448L803.672,432L775.959,448Z" style="fill:rgb(71,71,71);"/>
                  </g>
                  <g transform="matrix(1,0,0,1,332.554,-64)">
                      <!-- Tono gris medio (igual que arriba) -->
                      <path d="M775.959,448L803.672,408L803.672,464L775.959,448Z" style="fill:rgb(150,150,150);"/>
                  </g>
                  <g transform="matrix(1,0,0,1,332.554,-64)">
                      <!-- Tono gris oscuro (igual que arriba) -->
                      <path d="M831.384,448L803.672,464L803.672,408L831.384,448Z" style="fill:rgb(101,101,101);"/>
                  </g>
              </g>
              </g>
          </g>
          <defs>
              <radialGradient id="_Radial1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(27.7747,0,0,14,803.672,444)"><stop offset="0" style="stop-color:black;stop-opacity:0.541176"/><stop offset="0.44" style="stop-color:rgb(4,21,48);stop-opacity:0.541176"/><stop offset="1" style="stop-color:rgb(13,71,161);stop-opacity:0.541176"/></radialGradient>
          </defs>
        </svg></div>
      </div>
      <!-- PAGE DESC -->
      <div class="heroTextContainer">
        <h1>ETH Query</h1>
        <h2>Create complex querys without a single line of code</h2>
        <button *ngIf="user == null" class="buttonBlack" (click)="goLogin()">Log in</button>
        <button *ngIf="user != null" class="buttonBlack" (click)="navigateToSection('createYourQuery')">Create a query</button>
      </div>

    </div>


  </section>

  <div class="builderSection">

    <h2 *ngIf="!editMode" id="createYourQuery">Create Your Query</h2>
    <h2 *ngIf="editMode" id="createYourQuery">Edit Your Query</h2>


    <div *ngIf="errorMessage" class="error-message">
      Error: {{ errorMessage }}
    </div>

    <div class="container"> 
      <div class="select">
        <select [(ngModel)]="selectedDatasource" (change)="onDatasourceChange(selectedDatasource)">
          <option value="" disabled selected>Select datasource</option>
          <option value="amendedTokens">Amended tokens</option>
          <option value="balances">Balances</option>
          <option value="blocks">Blocks</option>
          <option value="contracts">Contracts</option>
          <option value="metadata">Metadata</option>
          <option value="logs">Logs</option>
          <option value="sessions">Sessions</option>
          <option value="tokenTransfers">Token transfers</option>
          <option value="tokens">Tokens</option>
          <option value="traces">Traces</option>
          <option value="transactions">Transactions</option>
        </select>
      </div>
    </div>

    <div class="toolkit">
      <div *ngIf="selectedDatasource === 'amendedTokens'">
        <p>Search Amended Tokens by:</p>
        <label>Address: <input type="text" [(ngModel)]="address"></label>
        <label>Symbol: <input type="text" [(ngModel)]="symbol"></label>
        <label>AssetName: <input type="text" [(ngModel)]="assetName"></label>
        <label>Decimals: <input type="number" [(ngModel)]="decimals"></label>
      </div>
      <div *ngIf="selectedDatasource === 'balances'">
        <p>Search Balances by:</p>
        <label>Address: <input type="text"  [(ngModel)]="address"></label>
        <label>Balance: <input type="number"  [(ngModel)]="balanceRange"></label>
      </div>
      <div *ngIf="selectedDatasource === 'blocks'">
        <p>Search Blocks by:</p>
        <label>Date Range: <input type="text" [(ngModel)]="dateRange"></label>
        <label>Specific Hash: <input type="text" [(ngModel)]="specificHash"></label>
        <label>Miner: <input type="text" [(ngModel)]="miner"></label>
        <label>Total Difficulty: <input type="text" [(ngModel)]="totalDifficulty"></label>
      </div>
      <div *ngIf="selectedDatasource === 'contracts'">
        <p>Search Contracts by:</p>
        <label>Specific Address: <input type="text" [(ngModel)]="specificAddress"></label>
        <label>Type of Token: <input type="text" [(ngModel)]="typeOfToken"></label>
        <label>Block Hash: <input type="text" [(ngModel)]="blockHash"></label>
      </div>
      <!-- ... other datasets ... -->
      <div *ngIf="selectedDatasource === 'logs'">
        <p>Search Logs by:</p>
        <label>Log Index: <input type="text" [(ngModel)]="logIndex"></label>
        <label>Transaction Hash: <input type="text" [(ngModel)]="transactionHash"></label>
        <label>Transaction Index: <input type="text" [(ngModel)]="transactionIndex"></label>
        <label>Address: <input type="text" [(ngModel)]="logAddress"></label>
      </div>
      
      <div *ngIf="selectedDatasource === 'traces'">
        <p>Search Traces by:</p>
        <label>Transaction Index: <input type="number" [(ngModel)]="transaction_index"></label>
        <label>From Address: <input type="text" [(ngModel)]="from_address"></label>
        <label>To Address: <input type="text" [(ngModel)]="to_address"></label>
      </div>
    
      <div *ngIf="selectedDatasource === 'transactions'">
        <p>Search Transactions by:</p>
        <label>Gas: <input type="number" [(ngModel)]="gas"></label>
        <label>Gas Price: <input type="number" [(ngModel)]="gas_price"></label>
        <label>Input: <input type="text" [(ngModel)]="input"></label>
        <label>Receipt Cumulative Gas Used: <input type="number" [(ngModel)]="receipt_cumulative_gas_used"></label>
        <label>Receipt Gas Used: <input type="number" [(ngModel)]="receipt_gas_used"></label>
        <label>Receipt Contract Address: <input type="text" [(ngModel)]="receipt_contract_address"></label>
        <label>Receipt Root: <input type="text" [(ngModel)]="receipt_root"></label>
        <label>Receipt Status: <input type="number" [(ngModel)]="receipt_status"></label>
        <label>Max Fee Per Gas: <input type="number" [(ngModel)]="max_fee_per_gas"></label>
        <label>Max Priority Fee Per Gas: <input type="number" [(ngModel)]="max_priority_fee_per_gas"></label>
        <label>Transaction Type: <input type="number" [(ngModel)]="transaction_type"></label>
        <label>Receipt Effective Gas Price: <input type="number" [(ngModel)]="receipt_effective_gas_price"></label>
      </div>   
      
      <div *ngIf="selectedDatasource === 'metadata'">
        <p>Search Metadata by:</p>
        <label>Chain: <input type="text" [(ngModel)]="chain"></label>
        <label>Load All Partitions: <input type="checkbox" [(ngModel)]="load_all_partitions"></label>
        <label>By Date: <input type="text" [(ngModel)]="byDate"></label>
        <label>Run ID: <input type="text" [(ngModel)]="runid"></label>
      </div>
    
      <div *ngIf="selectedDatasource === 'sessions'">
        <p>Search Sessions by:</p>
        <label>ID: <input type="text" [(ngModel)]="id"></label>
        <label>Start Trace: <input type="text" [(ngModel)]="startTrace"></label>
        <label>Start Block: <input type="number" [(ngModel)]="startBlock"></label>
        <label>Start Block Timestamp: <input type="text" [(ngModel)]="startBlockTimestamp"></label>
        <label>Wallet Address: <input type="text" [(ngModel)]="walletAddress"></label>
        <label>Contract Address: <input type="text" [(ngModel)]="contractAddress"></label>
      </div>
    
      <div *ngIf="selectedDatasource === 'tokenTransfers'">
        <p>Search Token Transfers by:</p>
        <label>Token Address: <input type="text" [(ngModel)]="token_address"></label>
        <label>From Address: <input type="text" [(ngModel)]="from_address"></label>
        <label>To Address: <input type="text" [(ngModel)]="to_address"></label>
        <label>Value: <input type="text" [(ngModel)]="value"></label>
        <label>Transaction Hash: <input type="text" [(ngModel)]="transaction_hash"></label>
        <label>Log Index: <input type="number" [(ngModel)]="log_index"></label>
        <label>Block Timestamp: <input type="text" [(ngModel)]="block_timestamp"></label>
        <label>Block Number: <input type="number" [(ngModel)]="block_number"></label>
        <label>Block Hash: <input type="text" [(ngModel)]="block_hash"></label>
      </div>
    
      <div *ngIf="selectedDatasource === 'tokens'">
        <p>Search Tokens by:</p>
        <label>Name: <input type="text" [(ngModel)]="name"></label>
        <label>Total Supply: <input type="text" [(ngModel)]="total_supply"></label>
      </div>

      <button *ngIf="selectedDatasource" class="buttonBlack build-button" (click)="buildQuery()">Build</button>
    </div>
    
    

    <textarea class="query-input" [(ngModel)]="queryContent" placeholder="Enter your query here..."></textarea><br>
    <textarea *ngIf="starterComment" class="query-input" [(ngModel)]="commentContent" placeholder="Comment here... (optional)"></textarea><br>
    <label>
        <input type="checkbox" [(ngModel)]="isQueryPrivate"> Post Query
    </label>
    <label>
      <input type="checkbox"  [(ngModel)]="starterComment"> Add Comment
    </label>

    <br>

    <button class="button buttonBlack execute-button" (click)="executeQuery()">Execute</button>
    <button *ngIf="!editMode" class="button buttonBlack save-button" (click)="saveQuery()">Save</button>
    <button *ngIf="editMode" class="button buttonBlack update-button" (click)="updateQuery()">Update</button>

  </div>

  <!-- TABLE SECTION -->
  <div *ngIf="queryResults.length > 0" class="tableContainer">
    <h2>Results</h2>
    <table>
      <thead>
          <tr>
              <th *ngFor="let key of queryResults[0] | keyvalue">{{ key.key }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of queryResults">
              <td *ngFor="let key of row | keyvalue">{{ key.value }}</td>
          </tr>
      </tbody>         
      
    </table>
    <br>
  </div>
    <!-- MY QUERIES SECTION -->
    <h2 id="savedQueries">Saved Queries</h2>
    <div class="myQueriesSection">
      <ul *ngIf="userQueries | async as queries">
        <li class="queryContainer" *ngFor="let query of queries">
          <div class="queryEditContainer">
            <a (click)="navigateToSection('createYourQuery'); editQuery(query)">edit</a>
          </div>
          <div class="queryContentContainer">{{ query.content }}</div> 
          <div class="queryStateContainer">{{ query.state ? 'Public' : 'Private' }}</div>
          <div class="queryCommentsContainer" *ngIf="query.comments as comments">
            <h5 ng *ngIf="comments.length > 0">Comments</h5>
            <ul *ngFor="let comment of comments">
              <li>{{ comment.user?.email }}: {{ comment.content }}</li>
            </ul>
          </div>
        </li>
      </ul>
      <div *ngIf="(userQueries | async)?.length === 0">Crea tu primer query!</div>
    </div> 
</body>
</html>
